h1{
    margin: auto;
}
body{
    background-color: #E8DC9B;
}
#header{
    background-color: #A2B964;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: auto;
    padding: 10px;
}
#body{
    padding: 90px;
    float: none;
    display: block;
    margin: auto;
    width: auto;
    position: relative;
    border-width: 1px;
    border-style: solid;
    background-color: gray;
    border-radius: 3px;
    overflow: hidden;
}
h1{
    float: top;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 3px 3px #999999;
}
#formdiv{
    width: auto;
}
#tablediv{
    width: auto;
}
td{
    margin: 1000px;
    border-style: solid;
    padding: 10px;
    border-width: 1px;
}
thead{
    background-color: darkcyan;
}
tr{
    width: auto;
}
#footer {
    position: absolute;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: #A2B964;
    font-weight: bold;
    font-size: 15pt;
    align-content: center;
    margin: auto;
    padding: 10px;
}


